/*============ HEADER - NAVBAR ============*/
header {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
}

/* Contenedor del menú */
.menu-container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start !important;
}

/* Logo SIEMPRE A LA IZQUIERDA */
.logo {
    position: absolute;
    left: 0;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
}

/* Container real */
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    background: transparent;
    transition: 0.3s ease;
    padding: 15px 0;
}

.navbar.scrolled {
    background-color: #252525ea;
    backdrop-filter: blur(5px);
}

/* Enlaces centrados */
.navbar-links {
    display: flex;
    gap: 35px;
}

.navbar-link{
    margin-left: 90px;
}

.navbar-links a {
    position: relative;
    text-decoration: none;
    color: #f6fffe;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-size: 15px;
    transition: 0.3s ease;
    margin-top: 20px;
}

/* Línea decorativa */
.navbar-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #f6fffe;
    transition: width .3s ease;
}

.navbar-links a:hover {
    color: #f6fffe;
}

.navbar-links a:hover::after,
.navbar-links a.active::after {
    width: 100%;
}

/* -----------------------------------------------
   BUSQUEDA CATALOGO
------------------------------------------------- */
.nav-bottom {
    width: 100%;
    margin-top: 20px;
    gap: 5px;

    display: flex;
    position: relative;
    justify-content: flex-start !important;
}

/*.nav-bottom .input__container {
    width: 350px; 
}*/

/*Busqueda*/
.input__container {
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.664);
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 40px;
    width: 500px;
    transition: transform 400ms;
    transform-style: preserve-3d;
    perspective: 500px;
    transform-origin: center;  
}

.shadow__input {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;

    z-index: -1;
    filter: blur(30px);
    border-radius: 20px;
    background-color: #CB2D2D;
    background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
        radial-gradient(at 74% 68%, #CB2D2D 0px, transparent 50%),
        radial-gradient(at 64% 79%, #CB2D2D 0px, transparent 50%),
        radial-gradient(at 75% 16%, #FFE100 0px, transparent 50%),
        radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
        radial-gradient(at 91% 83%, #FFE100 0px, transparent 50%),
        radial-gradient(at 72% 91%, #CB2D2D 0px, transparent 50%);
}

.input__button__shadow {
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px;
    cursor: default;
}

/* input para la busqueda*/
.input__search {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 6px;
    position: relative;
    font-family: 'Avenir', sans-serif;
    font-size: 16.5px;
    color: #414141;
}


.contenedor-mini-cat{
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* -----------------------------------------------
   MINI-BOTON CATEGORIAS / FILTRADO SIMPLE
------------------------------------------------- */
/*botón general para las categorias*/
.btn-cat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    color: white;
    gap: 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;

    width: 7em;
    aspect-ratio: 1/0.25;
    color: white;
    background: #21212190;
    background-size: cover;
    background-blend-mode: overlay;
    outline: 0.1em solid #CB2D2Dba;
    border: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    font-size: 14px
}

.btn-cat:hover{
    transform: scale(1.1);
    outline: 0.1em solid #cb2d2d73;
}

.btn-active{
    background: linear-gradient(45deg, #f4f4f4e7, #ffffff97);
    background: radial-gradient(
        circle at bottom,
        #FFE100a2 10%,
        #CB2D2D80 70%
    );

}

/*======== BOTON MENU ANIMATION ========*/
.menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0;
  z-index: 10000;
  margin-top: 20px;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  transition: stroke-dasharray .6s, stroke-dashoffset .6s;
}

.line1 { stroke-dasharray: 60 207; }
.line2 { stroke-dasharray: 60 60; }
.line3 { stroke-dasharray: 60 207; }

.menu.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
.menu.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}
.menu.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}


/*============ RESPONSIVE ============*/
@media (max-width: 768px) {

    .menu {
        display: flex; 
    }

    .navbar-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center; /* Centra verticalmente */
        align-items: center;     /* Centra horizontalmente */
        display: none;
        background: rgba(20, 20, 20, 0.596); /* Más oscuro y limpio */
        gap: 35px;
        padding: 0;
        backdrop-filter: blur(3px);
        z-index: 9000;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .navbar-links a {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-link{
        margin-left: 0 !important;
    }

    /* El menú hamburguesa siempre arriba */
    .menu {
        z-index: 10001;
    }

    .nav-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-bottom .input__container {
        width: 90%;
        margin-top: 2rem;
    }

    .contenedor-catalogo{
        margin-top: 5.5rem !important;
    }

    .contenedor-mini-cat {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        margin-top: 10px;
    }
}