* {
  /*outline: 1px solid green;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Avenir", sans-serif;
}

/*CONTENIDO - SECTIONS */
.wrapper,
.content-camisas {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content-camisas .section {
  width: 100%;
  height: auto; /*Alto automatico dependiendo del contenido de cada section*/
}

.section {
  scroll-margin-top: 80px; /* Espacio de margen del scroll con respecto al header */
}

.contenedor{
  position: relative;
  width: 100%; 
  height: auto;
  overflow: hidden;
}

/*Grid para section categoria */
.contenedor-catalogo{
  margin-top: 3rem;
}

.section-cat{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1rem;
  padding-bottom: 1rem;
    /*padding: 1rem;*/
}

/**/
.lbl-catalogo{
  color: #f6fffe;
  font-size: 1.4rem;
  font-weight: bold;

  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 20px;
}

.lbl-desc-cat{
  color: #f6fffe;
  font-size: 1.1rem;

  margin-left: 30px;
  margin-bottom: 20px;
}

.icono-desc-cat{
  width: 24px;
  fill: white;
}

/* =========================
   Telefono
========================= */
@media (min-width: 230px) and (max-width: 768px) {
  .contenedor {
    margin-top: 4rem
  }
}
/* =========================
   TABLET (769px - 991px)
========================= */
@media (min-width: 769px) and (max-width: 991px) {
  .contenedor {
    margin-top: 0.50rem

  }
}