* {
  /*outline: 1px solid green;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Avenir", sans-serif;
}

/*CONTENIDO - SECTIONS */
.wrapper,
.content-camisas {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content-camisas .section {
  width: 100%;
  height: auto; /*Alto automatico dependiendo del contenido de cada section*/
}

.section {
  scroll-margin-top: 80px; /* Espacio de margen del scroll con respecto al header */
}

.contenedor{
  position: relative;
  width: 100%; 
  height: auto;
  overflow: hidden;
}

/*Grid para section categoria */
.contenedor-catalogo{
  margin-top: 3rem;
}

.section-cat{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1rem;
  padding-bottom: 1rem;
    /*padding: 1rem;*/
}

/**/
.lbl-catalogo{
  color: #f6fffe;
  font-size: 1.4rem;
  font-weight: bold;

  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.lbl-desc-cat{
  color: #f6fffe;
  font-size: 1.1rem;

  margin-left: 30px;
  margin-bottom: 20px;
}

.icono-desc-cat{
  width: 24px;
  fill: white;
}

.row-info-catalogo{
  display: grid;
  grid-template-columns: 2fr 1fr;

  align-items: flex-start;
}

/*.info-cat-left {}*/

.info-cat-right{
  margin-top: 3.5rem;
}

/* MINICARD */
.card-prox{
  position: relative;
  padding: 18px 16px;
  border-radius: 20px;
  background: radial-gradient(circle at bottom left, #f67153d9 0%, #ffebeb 35%, #f6fffe 100%);
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* mismos brillos */
.card-prox .notiglow,
.card-prox .notiborderglow{
  position: absolute;
  width: 16rem;
  height: 16rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, rgb(233,62,62), transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.card-prox:hover .notiglow,
.card-prox:hover .notiborderglow{
  opacity: .12;
}

/* textos */
.lbl-prox{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.txt-prox{
  font-size: 14px;
  margin-bottom: 10px;
}

.icon-prox{
  display: flex;
  justify-content: space-between;
  opacity: .8;
  gap: 30px;
}

/* =========================
   Telefono
========================= */
@media (min-width: 230px) and (max-width: 768px) {
  .contenedor {
    margin-top: 4rem
  }

  .row-info-catalogo{
    display: block !important;
    align-items: flex-start;
  }

  .info-cat-right{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
}
/* =========================
   TABLET (769px - 991px)
========================= */
@media (min-width: 769px) and (max-width: 991px) {
  .contenedor {
    margin-top: 0.50rem

  }
}