/**{outline: 1px solid green;}*/
#contact {
  position: relative;
  padding: 56px 0;
  font-family: "Avenir", "Avenir Next", sans-serif;
  background-color: #252525;
}

/* TITULOS */
#contact .section-title {
    max-width: 1100px;
    margin: 0 auto 6px;

    text-align: left;

    color: rgb(246, 255, 254);
    font-size: 1.8rem;
    font-weight: bold;
    
    margin-bottom: 20px;
}

#contact .section-sub {
  max-width: 1100px;
  margin: 0 auto 36px;

  text-align: left;
  color: #c7c5c5;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* GRID */
#contact .contact-grid {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 16px;

  display: grid;
  grid-template-columns: 1.15fr 0.85fr; /* MÁS ANCHO QUE ALTO */
  gap: 36px;
  align-items: stretch;
}

/* =========================================
   IZQUIERDA – FORM 
========================================= */

#contact .contact-box {
  padding: 28px 32px;
  border-radius: 18px;

 /* background: linear-gradient(
    180deg,
    rgba(255,255,255,0.72),
    rgba(250,250,255,0.85)
  );*/
  background: radial-gradient(ellipse at bottom right, #CB2D2D 0%, #f6fffeed 40%);

  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.65);

  box-shadow:
    0 14px 32px rgba(0,0,0,0.06),
    inset 0 1px 0 rgba(255,255,255,0.6);
}

.form-grid {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 36px;
  align-items: start;
}

.form-izq,
.form-der {
  display: flex;
  flex-direction: column;
}

#contact .contact-box h3 {
  margin-bottom: 14px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #111;
}

/* INPUTS */
#contact .contact-box input,
#contact .contact-box textarea {
  width: 100%;
  margin-top: 10px;
  padding: 12px 14px;

  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.08);
  background: #fff;

  font-family: inherit;
  font-size: 0.9rem;
}

#contact .contact-box textarea {
  resize: none;
  min-height: 120px; /* MENOS ALTO */
}

/*BOTON ENVIAR AL CONTACTO*/
#btn-enviar{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0 !important;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.3s ease-in-out;
  margin-top: -80px;
}

#btn-enviar:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#btn-enviar::after,
#btn-enviar::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

#btn-enviar::before {
transform: translate(0%, 0%);
width: 100%;
height: 100%;
background-color: #ac1717;
background-image: linear-gradient(43deg, #CB2D2D 0%, #ed3333 46%, #FFCC70 100%);
border-radius: 10px;
}

#btn-enviar::after {
transform: translate(10px, 10px);
width: 35px;
height: 35px;
background: #2525252f;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border-radius: 50px;
}

#btn-enviar:hover::before {
transform: translate(5%, 20%);
width: 110%;
height: 110%;
}

#btn-enviar:hover::after {
border-radius: 10px;
transform: translate(0, 0);
width: 100%;
height: 100%;
}

#btn-enviar:active::after {
transition: 0s;
transform: translate(0, 5%);
}

/* MENSAJES DE ERROR (OCULTOS POR DEFECTO) */
.error-msg {
  display: none;
  font-size: 12px;
  margin: 4px 0 10px;
  color: #ff4d4d;
}

/* Mostrar SOLO cuando hay error */
.error-msg.active {
  display: block;
}

/* Inputs */
input.error,
textarea.error {
  border-color: #ff4d4d;
}

input.valid,
textarea.valid {
  border-color: #4caf50;
}

#formStatus {
  margin-top: 10px;
  font-size: 13px;
  color: #ff4d4d;
}

#formStatus.ok {
  color: #4caf50;
}

/*Agregar imagen de referencia*/

.img-upload-contact{
  margin: 5px 0 15px 0;
}


.img-upload {
  max-width: 280px;
}

.img-box {
  border: 2.5px dashed #ffffff;
  border-radius: 16px;
  height: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #6c757d;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.img-box:hover {
  border-color: #CB2D2D;
  color: #CB2D2D;
}

.img-placeholder p {
  margin-top: 8px;
  font-size: 14px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-box.has-img .img-placeholder {
  display: none;
}


/* Estilos para las tallas */
.card-tallas{
  border-radius: 15px;
}

#tallas {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-top: 10px;

}

.talla {
  width: auto;
  height: 30px;
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #dee2e6;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: white;
  user-select: none;
}

.talla:hover {
  border-color: #CB2D2D;
  color: #CB2D2D;
  transform: translateY(-2px);
}

.talla.seleccionada {
  background-color: #CB2D2D;
  color: white;
  border-color: #CB2D2D;
}

/* Ocultar talla seleccionada por defecto */
.talla-seleccionada-display {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  border: 1px solid #dee2e6;
}

.talla-seleccionada-display.visible {
  display: block;
}


/* =========================================
   DERECHA – IMAGEN (más horizontal)
========================================= */

.contact-image-wrap {
  position: relative;
  border-radius: 22px;
  overflow: hidden;

  box-shadow:
    0 20px 45px rgba(0,0,0,0.22);
}

/* IMAGEN */
.contact-image {
  width: 100%;
  height: 459.6px; 
  object-fit: cover;
  display: block;
  filter: saturate(1.05) contrast(1.04);
}

/*#btn-enviar:hover.contact-image {
  height: 541.2 !important; 
}*/

/* OVERLAY SUAVE */
.contact-image-wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.35),
    rgba(0,0,0,0.05) 65%
  );
}

/* =========================================
   TARJETA BLANCA SOBRE IMAGEN
========================================= */

.contact-image-card {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);

  width: 78%;
  max-width: 360px;
  /*padding: 20px;*/

  border-radius: 16px;
  background: rgba(255,255,255,0.92);
  backdrop-filter: blur(10px);

  box-shadow:
    0 14px 28px rgba(0,0,0,0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
}

/* =========================================
  REDES SOCIALES
========================================= */
.card-redes {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  gap: 15px;
  overflow: hidden;
  border-radius: 27px;
  z-index: 50;
  fill: #252525;
}

.card-redes a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.socialSvg svg{
  fill: #252525 !important;
  
} 

.socialSvg path{
  fill: #252525 !important;
    width: 30px !important ;
  height: 30px !important;
} 

.card-redes a:hover {
  transform: scale(1.2);
  border-radius: 15px;
}
/*instagram*/
.card-redes a:nth-child(1):hover,
.socialSvg:hover path  {
  background-color: #0084FF;
} 
/* Whatsapp*/
.card-redes a:nth-child(2):hover ,
.socialSvg:hover path {
  background-color: #25d366;
}

.card-redes a:hover svg path {
  fill: #fff !important;
}

.card-redes a:active {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

/*first-child*/
.card-redes a svg:first-child {
  display: flex;
  scale: 1.3;
  position: absolute;
  width: 20px;
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.card-redes a svg:first-child path {
  fill: rgb(255, 255, 255) ;
}

.card-redes a:hover svg:first-child {
  transform: translateY(-40px);
  opacity: 0;
}
/*last-child*/
.card-redes a svg:last-child {
  display: flex;
  position: absolute;
  width: 25px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.card-redes a svg:last-child path {
  fill: rgb(255, 255, 255);
}

.card-redes a:hover svg:last-child {
  opacity: 1;
  transform: translateY(0px);
}


/*   ETIQUETA DE CAMISAS SELECCIONADAS */
.camisas-seleccionadas {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.camisa-chip {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #111111d4;
  color: #fff;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 13px;
}

.camisa-chip button {
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  line-height: 1;
}

.camisa-chip button:hover {
  color: #ff4d4d;
}





/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 900px) {
  #contact {
    padding: 48px 0;
  }

  #contact .contact-grid {
    grid-template-columns: 1fr;
    gap: 28px;
  }

  .contact-image-wrap {
    min-height: 240px;
  }

  #contact .section-title,
  #contact .section-sub {
    text-align: center;
  }

  /*form-derecha q izquierda*/
  .form-grid {
    display: block;
    gap: 36px;
    align-items: start;
  }

  #btn-enviar{
    margin-top: 20px;
  }
}
