
/* -----------------------------------------------
   ANIMACIÓN FONDO
------------------------------------------------- */
.catalogo{
        width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 40px;
   
    position: relative;
    overflow: hidden;

    /* VALORES INICIALES DEL GRADIENT */
  --c-0: hsla(266.9,0%,7%,1);
  --y-0: 80%;
  --x-0: 85%;

  --c-1: rgb(249, 189, 189);
  --x-1: 60%;
  --y-1: 24%;

  --c-2: hsla(54,0%,0%,0.49);
  --x-2: 13%;
  --y-2: 82%;

  --c-3: hsla(352.7,98%,41%,1);
  --x-3: 24%;
  --y-3: 7%;

  background-color: #000;

  background-image:
      radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)),
      radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)),
      radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)),
      radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));

  background-blend-mode: normal;
  animation: hero-gradient-animation 10s linear infinite alternate;
}

@keyframes hero-gradient-animation {
  0% {
    --c-0: hsla(266.99999999999955,0%,7%,1);
    --y-0: 80%;
    --x-0: 85%;
    --s-start-0: 9%;
    --s-end-0: 55%;
    --x-1: 60%;
    --y-1: 24%;
    --s-start-1: 5%;
    --s-end-1: 72%;
    --c-1: rgb(90, 12, 12);
    --y-2: 82%;
    --c-2: hsla(53.999999999999886,0%,0%,0.49);
    --s-start-2: 5%;
    --s-end-2: 52%;
    --x-2: 13%;
    --s-start-3: 13%;
    --s-end-3: 68%;
    --y-3: 7%;
    --c-3: hsla(352.71844660194176,98%,41%,1);
    --x-3: 24%;
  }

  100% {
    --c-0: hsla(120,0%,7%,1);
    --y-0: 94%;
    --x-0: 31%;
    --s-start-0: 9%;
    --s-end-0: 55%;
    --x-1: 2%;
    --y-1: 25%;
    --s-start-1: 5%;
    --s-end-1: 72%;
    --c-1: rgb(85, 15, 15);
    --y-2: 20%;
    --c-2: hsla(54.000000000000036,0%,0%,0.49);
    --s-start-2: 5%;
    --s-end-2: 52%;
    --x-2: 98%;
    --s-start-3: 13%;
    --s-end-3: 68%;
    --y-3: 92%;
    --c-3: hsla(352.71844660194176,98%,41%,1);
    --x-3: 95%;
  }
}


/* ----- PROPERTIES NECESARIOS ----- */
@property --c-0 { syntax: '<color>'; inherits: false; initial-value: hsla(266.9,0%,7%,1) }
@property --y-0 { syntax: '<percentage>'; inherits: false; initial-value: 80% }
@property --x-0 { syntax: '<percentage>'; inherits: false; initial-value: 85% }
@property --s-start-0 { syntax: '<percentage>'; inherits: false; initial-value: 9% }
@property --s-end-0 { syntax: '<percentage>'; inherits: false; initial-value: 55% }
@property --x-1 { syntax: '<percentage>'; inherits: false; initial-value: 60% }
@property --y-1 { syntax: '<percentage>'; inherits: false; initial-value: 24% }
@property --s-start-1 { syntax: '<percentage>'; inherits: false; initial-value: 5% }
@property --s-end-1 { syntax: '<percentage>'; inherits: false; initial-value: 72% }
@property --c-1 { syntax: '<color>'; inherits: false; initial-value: hsla(335.9,5%,33%,1) }
@property --y-2 { syntax: '<percentage>'; inherits: false; initial-value: 82% }
@property --c-2 { syntax: '<color>'; inherits: false; initial-value: hsla(54,0%,0%,0.49) }
@property --s-start-2 { syntax: '<percentage>'; inherits: false; initial-value: 5% }
@property --s-end-2 { syntax: '<percentage>'; inherits: false; initial-value: 52% }
@property --x-2 { syntax: '<percentage>'; inherits: false; initial-value: 13% }
@property --s-start-3 { syntax: '<percentage>'; inherits: false; initial-value: 13% }
@property --s-end-3 { syntax: '<percentage>'; inherits: false; initial-value: 68% }
@property --y-3 { syntax: '<percentage>'; inherits: false; initial-value: 7% }
@property --c-3 { syntax: '<color>'; inherits: false; initial-value: hsla(352.7,98%,41%,1) }
@property --x-3 { syntax: '<percentage>'; inherits: false; initial-value: 24% }



/**/
.lbl-catalogo{
    color: #f6fffe;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}


/* -----------------------------------------------
   BUSQUEDA CATALOGO
------------------------------------------------- */
/*Busqueda*/
.input__container {
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.664);
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 40px;
    width: 500px;
    transition: transform 400ms;
    transform-style: preserve-3d;
    perspective: 500px;
    transform-origin: center;
}

.shadow__input {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -1;
    filter: blur(30px);
    border-radius: 20px;
    background-color: #CB2D2D;
    background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
        radial-gradient(at 74% 68%, #CB2D2D 0px, transparent 50%),
        radial-gradient(at 64% 79%, #CB2D2D 0px, transparent 50%),
        radial-gradient(at 75% 16%, #FFE100 0px, transparent 50%),
        radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
        radial-gradient(at 91% 83%, #FFE100 0px, transparent 50%),
        radial-gradient(at 72% 91%, #CB2D2D 0px, transparent 50%);
}

.input__button__shadow {
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px;
}

/* input para la busqueda*/
.input__search {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px;
    position: relative;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
    color: #414141;
}


.contenedor-mini-cat{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -----------------------------------------------
   MINI-BOTON CATEGORIAS / FILTRADO SIMPLE
------------------------------------------------- */
/*botón general para las categorias*/
.btn-cat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    color: white;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;

    width: 7em;
    aspect-ratio: 1/0.25;
    color: white;
    background: #21212190;
    background-size: cover;
    background-blend-mode: overlay;
    outline: 0.1em solid #CB2D2Dba;
    border: 0;
    box-shadow: 0 0 1em 1em rgba(147, 147, 147, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    font-size: 14px
}

.btn-cat:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #212121d7, #25252597);
    background: radial-gradient(
        circle at bottom,
        #CB2D2D80 10%,
        #212121a2 70%
    );
    outline: 0;
}


/* -----------------------------------------------
   DISEÑO DE TARJETA CAMISA DEL CATALOGO
------------------------------------------------- */
/* Diseño tarjeta camisa*/
.card-camisa {
  --bg: #fff;
  --title-color: #fff;
  --title-color-hover: #000;
  --text-color: #666;
  --button-color: #eee;
  --button-color-hover: #ddd;

  background: var(--bg);
  border-radius: 2rem;
  padding: 0.5rem;
  width: 20rem;
  height: 30rem;
  overflow: clip;
  position: relative;
  font-family: 'Avenir', sans-serif;
}

.card-camisa::before {
  content: "";
  position: absolute;
  width: calc(100% - 1rem);
  height: 40%;
  bottom: 0.5rem;
  left: 0.5rem;
  mask: linear-gradient(#0000, #000f 80%);
  backdrop-filter: blur(1rem);
  border-radius: 0 0 1.5rem 1.5rem;
  translate: 0 0;
  transition: translate 0.25s;
  z-index: 1;
}

.card-camisa:hover {
    height: 32.2rem; /* Ajustar alto */
}

/* Imagen */
.img-card {
  width: 100%;
  height: auto;
  max-width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  object-position: 50% 5%;
  border-radius: 1.5rem;
  display: block;
  transition: aspect-ratio 0.25s, object-position 0.5s;
}

/* Título */
.card-camisa .lbl-nombre-camisa {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: var(--title-color);
  translate: 0 -200%;
  opacity: 1;
  transition: color 0.5s,
              margin-block-end 0.25s,
              opacity 1s,
              translate 0.25s;
}

/* Descripcion */
.card-camisa .lbl-descripcion {
  font-size: 0.95rem;
  line-height: 1.3;
  color: var(--text-color);
  opacity: 0;
  margin: 0;
  translate: 0 100%;
  z-index: 10 !important;
  transition: margin-block-end 0.25s,
              opacity 1s 0.2s,
              translate 0.25s 0.2s;
}

.categoria-camisa{
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--button-color);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.85rem;
    color: var(--title-color-hover);
    z-index: 2;
}

/* Sección inferior */
.card-camisa section {
  margin: 1rem;
  height: calc(33.3333% - 1rem);
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: relative;
}

/* Contenedor tag + botón */
.card-camisa section div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;

  translate: 0 100%;
  opacity: 0;
  transition: translate 0.25s 0.2s,
              opacity 1s;
}


/* TAG */
.card-camisa .tag {
  align-self: center;
  color: var(--title-color-hover);
}

/* Botón */
.card-camisa .price-camisa {
  border: 1px solid #0000;
  border-radius: 1.25rem;
  font-size: 20px;
  font-weight: 700;
  color: white !important;
  padding: 5px 10px;
  margin-left: 20px;
  margin-top: 10px;
  background: #CB2D2D;
  color: var(--title-color-hover);
  translate: 1rem;
  width: 8.2rem;
  text-align: right;
  outline-offset: 2px;
  position: relative;
  transition: background 0.33s;
}

/* Hover tarjeta */
.card-camisa:hover::before,
.card-camisa:focus-within::before {
  translate: 0 100%;
}

.card-camisa:hover .img-card,
.card-camisa:focus-within .img-card {
  aspect-ratio: 1 / 1;
  object-position: 50% 10%;
}

/* Título + descripción aparecen en hover */
.card-camisa:hover section h2,
.card-camisa:hover section p,
.card-camisa:focus-within section h2,
.card-camisa:focus-within section p {
  translate: 0 0;
  opacity: 1;
  margin-block-end: 0.5rem;
}

/* color título */
.card-camisa:hover section h2,
.card-camisa:focus-within section h2 {
  color: var(--title-color-hover);
}

/* contenedor inferior aparece */
.card-camisa:hover section div,
.card-camisa:focus-within section div {
  translate: 0 0;
  opacity: 1;
  transition: translate 0.25s 0.25s,
              opacity 0.5s 0.25s;
}

.colores {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Cada circulito individual */
.colores div {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
  border: 2px solid #fff; /* borde suave para que se vea sobre cualquier fondo */
  box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
}

/* Colores reales */
.c-blue { background: #1e40af; }
.c-red { background: #b91c1c; }
.c-white { background: #ffffff; }
.c-green { background: #15803d; }

.carousel-indicators{
    margin-bottom: 50px;
}

.card-camisa:hover .carousel-indicators{
    margin-bottom: 10px !important;
}
