
/* -----------------------------------------------
   ANIMACIÓN FONDO
------------------------------------------------- */
.catalogo{
        width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 40px;
   
    position: relative;
    overflow: hidden;

    /* VALORES INICIALES DEL GRADIENT */
  --c-0: hsla(266.9,0%,7%,1);
  --y-0: 80%;
  --x-0: 85%;

  --c-1: rgb(249, 189, 189);
  --x-1: 60%;
  --y-1: 24%;

  --c-2: hsla(54,0%,0%,0.49);
  --x-2: 13%;
  --y-2: 82%;

  --c-3: hsla(352.7,98%,41%,1);
  --x-3: 24%;
  --y-3: 7%;

  background-color: #000;

  background-image:
      radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)),
      radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)),
      radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)),
      radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));

  background-blend-mode: normal;
  animation: hero-gradient-animation 10s linear infinite alternate;
}

@keyframes hero-gradient-animation {
  0% {
    --c-0: hsla(266.99999999999955,0%,7%,1);
    --y-0: 80%;
    --x-0: 85%;
    --s-start-0: 9%;
    --s-end-0: 55%;
    --x-1: 60%;
    --y-1: 24%;
    --s-start-1: 5%;
    --s-end-1: 72%;
    --c-1: rgb(90, 12, 12);
    --y-2: 82%;
    --c-2: hsla(53.999999999999886,0%,0%,0.49);
    --s-start-2: 5%;
    --s-end-2: 52%;
    --x-2: 13%;
    --s-start-3: 13%;
    --s-end-3: 68%;
    --y-3: 7%;
    --c-3: hsla(352.71844660194176,98%,41%,1);
    --x-3: 24%;
  }

  100% {
    --c-0: hsla(120,0%,7%,1);
    --y-0: 94%;
    --x-0: 31%;
    --s-start-0: 9%;
    --s-end-0: 55%;
    --x-1: 2%;
    --y-1: 25%;
    --s-start-1: 5%;
    --s-end-1: 72%;
    --c-1: rgb(85, 15, 15);
    --y-2: 20%;
    --c-2: hsla(54.000000000000036,0%,0%,0.49);
    --s-start-2: 5%;
    --s-end-2: 52%;
    --x-2: 98%;
    --s-start-3: 13%;
    --s-end-3: 68%;
    --y-3: 92%;
    --c-3: hsla(352.71844660194176,98%,41%,1);
    --x-3: 95%;
  }
}


/* ----- PROPERTIES NECESARIOS ----- */
@property --c-0 { syntax: '<color>'; inherits: false; initial-value: hsla(266.9,0%,7%,1) }
@property --y-0 { syntax: '<percentage>'; inherits: false; initial-value: 80% }
@property --x-0 { syntax: '<percentage>'; inherits: false; initial-value: 85% }
@property --s-start-0 { syntax: '<percentage>'; inherits: false; initial-value: 9% }
@property --s-end-0 { syntax: '<percentage>'; inherits: false; initial-value: 55% }
@property --x-1 { syntax: '<percentage>'; inherits: false; initial-value: 60% }
@property --y-1 { syntax: '<percentage>'; inherits: false; initial-value: 24% }
@property --s-start-1 { syntax: '<percentage>'; inherits: false; initial-value: 5% }
@property --s-end-1 { syntax: '<percentage>'; inherits: false; initial-value: 72% }
@property --c-1 { syntax: '<color>'; inherits: false; initial-value: hsla(335.9,5%,33%,1) }
@property --y-2 { syntax: '<percentage>'; inherits: false; initial-value: 82% }
@property --c-2 { syntax: '<color>'; inherits: false; initial-value: hsla(54,0%,0%,0.49) }
@property --s-start-2 { syntax: '<percentage>'; inherits: false; initial-value: 5% }
@property --s-end-2 { syntax: '<percentage>'; inherits: false; initial-value: 52% }
@property --x-2 { syntax: '<percentage>'; inherits: false; initial-value: 13% }
@property --s-start-3 { syntax: '<percentage>'; inherits: false; initial-value: 13% }
@property --s-end-3 { syntax: '<percentage>'; inherits: false; initial-value: 68% }
@property --y-3 { syntax: '<percentage>'; inherits: false; initial-value: 7% }
@property --c-3 { syntax: '<color>'; inherits: false; initial-value: hsla(352.7,98%,41%,1) }
@property --x-3 { syntax: '<percentage>'; inherits: false; initial-value: 24% }



/**/
.lbl-catalogo{
    color: #f6fffe;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}


/* -----------------------------------------------
   BUSQUEDA CATALOGO
------------------------------------------------- */
/*Busqueda*/
.input__container {
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.664);
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 40px;
    width: 500px;
    transition: transform 400ms;
    transform-style: preserve-3d;
    perspective: 500px;
    transform-origin: center;
}

.shadow__input {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -1;
    filter: blur(30px);
    border-radius: 20px;
    background-color: #CB2D2D;
    background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
        radial-gradient(at 74% 68%, #CB2D2D 0px, transparent 50%),
        radial-gradient(at 64% 79%, #CB2D2D 0px, transparent 50%),
        radial-gradient(at 75% 16%, #FFE100 0px, transparent 50%),
        radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
        radial-gradient(at 91% 83%, #FFE100 0px, transparent 50%),
        radial-gradient(at 72% 91%, #CB2D2D 0px, transparent 50%);
}

.input__button__shadow {
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px;
}

/* input para la busqueda*/
.input__search {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px;
    position: relative;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
    color: #414141;
}


.contenedor-mini-cat{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -----------------------------------------------
   MINI-BOTON CATEGORIAS / FILTRADO SIMPLE
------------------------------------------------- */
/*botón general para las categorias*/
.btn-cat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    color: white;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;

    width: 7em;
    aspect-ratio: 1/0.25;
    color: white;
    background: #21212190;
    background-size: cover;
    background-blend-mode: overlay;
    outline: 0.1em solid #CB2D2Dba;
    border: 0;
    box-shadow: 0 0 1em 1em rgba(147, 147, 147, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    font-size: 14px
}

.btn-cat:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #212121d7, #25252597);
    background: radial-gradient(
        circle at bottom,
        #CB2D2D80 10%,
        #212121a2 70%
    );
    outline: 0;
}
